/* https://coolors.co/07020d-36393b-a5d8ff-c1bdb3-afd0d6 */

/*The comment above links to a website where the color scheme for this website was obtained. Below
are formatting rules applied to the HTML selectors in the website.*/

html {
    font-family: 'Cairo', sans-serif;
    color: #615E65;
}

body {
    background: #D7D5CE;
}

h1 {
    position: absolute; 
    top: 0%;
    height: 10%;
    font-size: 30pt;
    margin: 0;
}

h2 {
    padding: 0%; 
    top: 0pt; 
    margin: 0pt;
}

.tablinks {
    position: absolute; 
    top: 15%;
    height: 5%;
    width: 25%;
    color: #615E65;
    background-color: #C6C3B9;

}

#sampsizetaboption {
    width: 10%;
}

#sampsizetaboption:hover {
    cursor: pointer;     
    background-color: #C1BDB3;

}

#helptaboption:hover {
    cursor: pointer; 
    background-color: #C1BDB3;
}

#helptaboption {
    width: 5%; 
    left: 10%; 
    background-color: #D1CFC7;
}

.parameters {
    position: absolute; 
    top: 20%;
    height: 75%; 
    width: 25%; 
    font-size: 15pt; 
    margin: 0; 
    padding-left: 1%; 
    padding-right: 1%; 
    background-color: #C6C3B9;
}

.helpSection {
    position: absolute; 
    top: 20%;
    height: 75%; 
    width: 25%; 
    font-size: 15pt; 
    margin: 0; 
    padding-left: 1%; 
    padding-right: 1%; 
    overflow-y: scroll; 
    background-color: #C6C3B9;
}

.mainBody {
    position: absolute; 
    top: 20%;
    height: 75%; 
    width: 68%; 
    left: 29%; 
    font-size: 15pt; 
    margin: 0; 
    padding-left: 1%; 
    padding-right: 1%; 
    /* overflow-y: scroll;  */
    background-color: #C6C3B9;
}

#samplesize {
    height: 35%; 
    overflow-y: scroll; 
}

#statisticssection {
    height: 65%; 
    overflow-y: scroll; 
}

.parameterChoices {
    position: absolute; 
    height: 90%; 
    width: 100%; 
    overflow-y: scroll;
}


.paramOptions {
    padding-left: 6pt; 
    padding-top: 5pt; 
    font-size: 14.5pt; 
}

.textNum {
    background-color: #ECEDED;
    border-color: #615E65;
    color: #615E65;
    border: 3px solid thin; 
    width: 20%;
    margin-left: 5%;
    height: 25px;   
    margin-right: 0%;
}

.testTypes {
    background-color: #ECEDED;
    border-color: #615E65;
    color: #615E65;
    font-size: 10pt; 
    border: 3px solid thin; 
    width: 65%;
    height: 100%; 
    display: inline-block;
}

#testDisplayNull {
    margin-left: 5%;
}

#n_ratio {
    margin-left: 5%;
}

#testDisplayAlt {
    margin-left: 5%;
}

.textAreaA {
    background-color: #ECEDED;
    border-color: #615E65;
    color: #615E65;
    border: 3px solid thin; 
    width: 60%;
    margin-left: 5%;
    height: 25px;   
    margin-right: 0%;
}

.textAreaB {
    background-color: #ECEDED;
    border-color: #615E65;
    color: #615E65;
    border: 3px solid thin; 
    width: 60%;
    margin-left: 5%;
    height: 25px;   
    margin-right: 0%;
}


#finalName {
    margin-left: 5%;
    font-size: 18px; 
}


.buttons {
    position: absolute; 
    bottom: 5pt; 
    width: 96%; 

}

.button:hover {
    cursor: pointer; 
}

.button {
    width: 47%;
    height: 20pt; 
    color: #615E65;
}

.searchBar {
    width: 90%; 
    background-color: #DADBDB;
    color: #615E65;
    border: 2px solid thin; 
    height: 18px; 
}

.helpDefinitions .term {
    font-size: 14.5pt; 
    text-decoration: bold;
}

.term {
    text-decoration: bold; 
}

.helpDefinitions .def {
    margin-left: 5%; 
    font-size: 14.5pt; 

}

.power_range:hover {
    cursor: pointer;
}

.alpha_range:hover {
    cursor: pointer; 
}

#sampsizenum {
    margin-top: 0%; 
}

#sampsizepar {
    margin-top: 0%; 
}

#typeOfTest {
    margin-top: 0%; 
}

#selectParamMessage {
    margin-top: 0%;
}

#sigmapowerone:hover {
    cursor: pointer; 
}

#sigmapowertwo:hover {
    cursor: pointer; 
}

#bar {
    color: #8E8C91;
}